<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.shaixuan.mapper.ScSxMapper">
  <resultMap id="BaseResultMap" type="com.ht.shaixuan.entity.ScSx">
    <!--@mbg.generated-->
    <!--@Table SC_SX-->
    <id column="SXBH" jdbcType="VARCHAR" property="sxbh" />
    <result column="YSPH" jdbcType="VARCHAR" property="ysph" />
    <result column="SCBZ" jdbcType="VARCHAR" property="scbz" />
    <result column="SCRQ" jdbcType="TIMESTAMP" property="scrq" />
    <result column="SBBH" jdbcType="VARCHAR" property="sbbh" />
    <result column="GH" jdbcType="VARCHAR" property="gh" />
    <result column="FXZL" jdbcType="OTHER" property="fxzl" />
    <result column="SBZK" jdbcType="VARCHAR" property="sbzk" />
    <result column="SXZL" jdbcType="OTHER" property="sxzl" />
    <result column="SXSD" jdbcType="OTHER" property="sxsd" />
    <result column="SFQX" jdbcType="VARCHAR" property="sfqx" />
    <result column="SFDQ" jdbcType="VARCHAR" property="sfdq" />
    <result column="ZDR" jdbcType="VARCHAR" property="zdr" />
    <result column="ZDRQ" jdbcType="TIMESTAMP" property="zdrq" />
    <result column="SHR" jdbcType="VARCHAR" property="checker" />
    <result column="SHRQ" jdbcType="TIMESTAMP" property="shrq" />
    <result column="gqcd" jdbcType="FLOAT" property="gqcd" />
    <result column="yl" jdbcType="CHAR" property="yl" />
    <result column="lsrate" jdbcType="CHAR" property="lsrate" />
    <result column="MPSH" jdbcType="VARCHAR" property="mpsh" />
    <result column="ZLH" jdbcType="VARCHAR" property="zlh" />
    <result column="ISrise" jdbcType="INTEGER" property="isrise" />
    <result column="ischange" jdbcType="INTEGER" property="ischange" />
    <result column="sxts" jdbcType="INTEGER" property="sxts" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="PJ" jdbcType="VARCHAR" property="pj" />
    <result column="XJ" jdbcType="VARCHAR" property="xj" />
    <result column="SHRQH" jdbcType="TIMESTAMP" property="shrqh" />
    <result column="LastUpdateTime" jdbcType="TIMESTAMP" property="lastupdatetime" />
    <result column="LastUpdateAccountId" jdbcType="VARCHAR" property="lastupdateaccountid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    SXBH, YSPH, SCBZ, SCRQ, SBBH, GH, FXZL, SBZK, SXZL, SXSD, SFQX, SFDQ, ZDR, ZDRQ, 
    SHR, SHRQ, gqcd, yl, lsrate, MPSH, ZLH, ISrise, ischange, sxts, color, PJ, XJ, SHRQH, 
    LastUpdateTime, LastUpdateAccountId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from SC_SX
    where SXBH = #{sxbh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from SC_SX
    where SXBH = #{sxbh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.shaixuan.entity.ScSx">
    <!--@mbg.generated-->
    insert into SC_SX (SXBH, YSPH, SCBZ, 
      SCRQ, SBBH, GH, FXZL, 
      SBZK, SXZL, SXSD, SFQX, 
      SFDQ, ZDR, ZDRQ, 
      SHR, SHRQ, gqcd, yl, 
      lsrate, MPSH, ZLH, ISrise, 
      ischange, sxts, color, 
      PJ, XJ, SHRQH, LastUpdateTime, 
      LastUpdateAccountId)
    values (#{sxbh,jdbcType=VARCHAR}, #{ysph,jdbcType=VARCHAR}, #{scbz,jdbcType=VARCHAR}, 
      #{scrq,jdbcType=TIMESTAMP}, #{sbbh,jdbcType=VARCHAR}, #{gh,jdbcType=VARCHAR}, #{fxzl,jdbcType=OTHER}, 
      #{sbzk,jdbcType=VARCHAR}, #{sxzl,jdbcType=OTHER}, #{sxsd,jdbcType=OTHER}, #{sfqx,jdbcType=VARCHAR}, 
      #{sfdq,jdbcType=VARCHAR}, #{zdr,jdbcType=VARCHAR}, #{zdrq,jdbcType=TIMESTAMP}, 
      #{checker,jdbcType=VARCHAR}, #{shrq,jdbcType=TIMESTAMP}, #{gqcd,jdbcType=FLOAT}, #{yl,jdbcType=CHAR},
      #{lsrate,jdbcType=CHAR}, #{mpsh,jdbcType=VARCHAR}, #{zlh,jdbcType=VARCHAR}, #{isrise,jdbcType=INTEGER}, 
      #{ischange,jdbcType=INTEGER}, #{sxts,jdbcType=INTEGER}, #{color,jdbcType=VARCHAR}, 
      #{pj,jdbcType=VARCHAR}, #{xj,jdbcType=VARCHAR}, #{shrqh,jdbcType=TIMESTAMP}, #{lastupdatetime,jdbcType=TIMESTAMP}, 
      #{lastupdateaccountid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.shaixuan.entity.ScSx">
    <!--@mbg.generated-->
    insert into SC_SX
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sxbh != null">
        SXBH,
      </if>
      <if test="ysph != null">
        YSPH,
      </if>
      <if test="scbz != null">
        SCBZ,
      </if>
      <if test="scrq != null">
        SCRQ,
      </if>
      <if test="sbbh != null">
        SBBH,
      </if>
      <if test="gh != null">
        GH,
      </if>
      <if test="fxzl != null">
        FXZL,
      </if>
      <if test="sbzk != null">
        SBZK,
      </if>
      <if test="sxzl != null">
        SXZL,
      </if>
      <if test="sxsd != null">
        SXSD,
      </if>
      <if test="sfqx != null">
        SFQX,
      </if>
      <if test="sfdq != null">
        SFDQ,
      </if>
      <if test="zdr != null">
        ZDR,
      </if>
      <if test="zdrq != null">
        ZDRQ,
      </if>
      <if test="checker != null">
        SHR,
      </if>
      <if test="shrq != null">
        SHRQ,
      </if>
      <if test="gqcd != null">
        gqcd,
      </if>
      <if test="yl != null">
        yl,
      </if>
      <if test="lsrate != null">
        lsrate,
      </if>
      <if test="mpsh != null">
        MPSH,
      </if>
      <if test="zlh != null">
        ZLH,
      </if>
      <if test="isrise != null">
        ISrise,
      </if>
      <if test="ischange != null">
        ischange,
      </if>
      <if test="sxts != null">
        sxts,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="pj != null">
        PJ,
      </if>
      <if test="xj != null">
        XJ,
      </if>
      <if test="shrqh != null">
        SHRQH,
      </if>
      <if test="lastupdatetime != null">
        LastUpdateTime,
      </if>
      <if test="lastupdateaccountid != null">
        LastUpdateAccountId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sxbh != null">
        #{sxbh,jdbcType=VARCHAR},
      </if>
      <if test="ysph != null">
        #{ysph,jdbcType=VARCHAR},
      </if>
      <if test="scbz != null">
        #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="scrq != null">
        #{scrq,jdbcType=TIMESTAMP},
      </if>
      <if test="sbbh != null">
        #{sbbh,jdbcType=VARCHAR},
      </if>
      <if test="gh != null">
        #{gh,jdbcType=VARCHAR},
      </if>
      <if test="fxzl != null">
        #{fxzl,jdbcType=OTHER},
      </if>
      <if test="sbzk != null">
        #{sbzk,jdbcType=VARCHAR},
      </if>
      <if test="sxzl != null">
        #{sxzl,jdbcType=OTHER},
      </if>
      <if test="sxsd != null">
        #{sxsd,jdbcType=OTHER},
      </if>
      <if test="sfqx != null">
        #{sfqx,jdbcType=VARCHAR},
      </if>
      <if test="sfdq != null">
        #{sfdq,jdbcType=VARCHAR},
      </if>
      <if test="zdr != null">
        #{zdr,jdbcType=VARCHAR},
      </if>
      <if test="zdrq != null">
        #{zdrq,jdbcType=TIMESTAMP},
      </if>
      <if test="checker != null">
        #{checker,jdbcType=VARCHAR},
      </if>
      <if test="shrq != null">
        #{shrq,jdbcType=TIMESTAMP},
      </if>
      <if test="gqcd != null">
        #{gqcd,jdbcType=FLOAT},
      </if>
      <if test="yl != null">
        #{yl,jdbcType=CHAR},
      </if>
      <if test="lsrate != null">
        #{lsrate,jdbcType=CHAR},
      </if>
      <if test="mpsh != null">
        #{mpsh,jdbcType=VARCHAR},
      </if>
      <if test="zlh != null">
        #{zlh,jdbcType=VARCHAR},
      </if>
      <if test="isrise != null">
        #{isrise,jdbcType=INTEGER},
      </if>
      <if test="ischange != null">
        #{ischange,jdbcType=INTEGER},
      </if>
      <if test="sxts != null">
        #{sxts,jdbcType=INTEGER},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="pj != null">
        #{pj,jdbcType=VARCHAR},
      </if>
      <if test="xj != null">
        #{xj,jdbcType=VARCHAR},
      </if>
      <if test="shrqh != null">
        #{shrqh,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null">
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdateaccountid != null">
        #{lastupdateaccountid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.shaixuan.entity.ScSx">
    <!--@mbg.generated-->
    update SC_SX
    <set>
      <if test="ysph != null">
        YSPH = #{ysph,jdbcType=VARCHAR},
      </if>
      <if test="scbz != null">
        SCBZ = #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="scrq != null">
        SCRQ = #{scrq,jdbcType=TIMESTAMP},
      </if>
      <if test="sbbh != null">
        SBBH = #{sbbh,jdbcType=VARCHAR},
      </if>
      <if test="gh != null">
        GH = #{gh,jdbcType=VARCHAR},
      </if>
      <if test="fxzl != null">
        FXZL = #{fxzl,jdbcType=OTHER},
      </if>
      <if test="sbzk != null">
        SBZK = #{sbzk,jdbcType=VARCHAR},
      </if>
      <if test="sxzl != null">
        SXZL = #{sxzl,jdbcType=OTHER},
      </if>
      <if test="sxsd != null">
        SXSD = #{sxsd,jdbcType=OTHER},
      </if>
      <if test="sfqx != null">
        SFQX = #{sfqx,jdbcType=VARCHAR},
      </if>
      <if test="sfdq != null">
        SFDQ = #{sfdq,jdbcType=VARCHAR},
      </if>
      <if test="zdr != null">
        ZDR = #{zdr,jdbcType=VARCHAR},
      </if>
      <if test="zdrq != null">
        ZDRQ = #{zdrq,jdbcType=TIMESTAMP},
      </if>
      <if test="checker != null">
        SHR = #{checker,jdbcType=VARCHAR},
      </if>
      <if test="shrq != null">
        SHRQ = #{shrq,jdbcType=TIMESTAMP},
      </if>
      <if test="gqcd != null">
        gqcd = #{gqcd,jdbcType=FLOAT},
      </if>
      <if test="yl != null">
        yl = #{yl,jdbcType=CHAR},
      </if>
      <if test="lsrate != null">
        lsrate = #{lsrate,jdbcType=CHAR},
      </if>
      <if test="mpsh != null">
        MPSH = #{mpsh,jdbcType=VARCHAR},
      </if>
      <if test="zlh != null">
        ZLH = #{zlh,jdbcType=VARCHAR},
      </if>
      <if test="isrise != null">
        ISrise = #{isrise,jdbcType=INTEGER},
      </if>
      <if test="ischange != null">
        ischange = #{ischange,jdbcType=INTEGER},
      </if>
      <if test="sxts != null">
        sxts = #{sxts,jdbcType=INTEGER},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="pj != null">
        PJ = #{pj,jdbcType=VARCHAR},
      </if>
      <if test="xj != null">
        XJ = #{xj,jdbcType=VARCHAR},
      </if>
      <if test="shrqh != null">
        SHRQH = #{shrqh,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null">
        LastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdateaccountid != null">
        LastUpdateAccountId = #{lastupdateaccountid,jdbcType=VARCHAR},
      </if>
    </set>
    where SXBH = #{sxbh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.shaixuan.entity.ScSx">
    <!--@mbg.generated-->
    update SC_SX
    set YSPH = #{ysph,jdbcType=VARCHAR},
      SCBZ = #{scbz,jdbcType=VARCHAR},
      SCRQ = #{scrq,jdbcType=TIMESTAMP},
      SBBH = #{sbbh,jdbcType=VARCHAR},
      GH = #{gh,jdbcType=VARCHAR},
      FXZL = #{fxzl,jdbcType=OTHER},
      SBZK = #{sbzk,jdbcType=VARCHAR},
      SXZL = #{sxzl,jdbcType=OTHER},
      SXSD = #{sxsd,jdbcType=OTHER},
      SFQX = #{sfqx,jdbcType=VARCHAR},
      SFDQ = #{sfdq,jdbcType=VARCHAR},
      ZDR = #{zdr,jdbcType=VARCHAR},
      ZDRQ = #{zdrq,jdbcType=TIMESTAMP},
      SHR = #{checker,jdbcType=VARCHAR},
      SHRQ = #{shrq,jdbcType=TIMESTAMP},
      gqcd = #{gqcd,jdbcType=FLOAT},
      yl = #{yl,jdbcType=CHAR},
      lsrate = #{lsrate,jdbcType=CHAR},
      MPSH = #{mpsh,jdbcType=VARCHAR},
      ZLH = #{zlh,jdbcType=VARCHAR},
      ISrise = #{isrise,jdbcType=INTEGER},
      ischange = #{ischange,jdbcType=INTEGER},
      sxts = #{sxts,jdbcType=INTEGER},
      color = #{color,jdbcType=VARCHAR},
      PJ = #{pj,jdbcType=VARCHAR},
      XJ = #{xj,jdbcType=VARCHAR},
      SHRQH = #{shrqh,jdbcType=TIMESTAMP},
      LastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      LastUpdateAccountId = #{lastupdateaccountid,jdbcType=VARCHAR}
    where SXBH = #{sxbh,jdbcType=VARCHAR}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update SC_SX
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="YSPH = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.ysph,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="SCBZ = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.scbz,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="SCRQ = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.scrq,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="SBBH = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.sbbh,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="GH = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.gh,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="FXZL = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.fxzl,jdbcType=OTHER}
        </foreach>
      </trim>
      <trim prefix="SBZK = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.sbzk,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="SXZL = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.sxzl,jdbcType=OTHER}
        </foreach>
      </trim>
      <trim prefix="SXSD = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.sxsd,jdbcType=OTHER}
        </foreach>
      </trim>
      <trim prefix="SFQX = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.sfqx,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="SFDQ = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.sfdq,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ZDR = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.zdr,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ZDRQ = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.zdrq,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="SHR = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.checker,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="SHRQ = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.shrq,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="gqcd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.gqcd,jdbcType=FLOAT}
        </foreach>
      </trim>
      <trim prefix="yl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.yl,jdbcType=CHAR}
        </foreach>
      </trim>
      <trim prefix="lsrate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.lsrate,jdbcType=CHAR}
        </foreach>
      </trim>
      <trim prefix="MPSH = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.mpsh,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ZLH = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.zlh,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ISrise = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.isrise,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="ischange = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.ischange,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="sxts = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.sxts,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="color = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.color,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="PJ = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.pj,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="XJ = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.xj,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="SHRQH = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.shrqh,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="LastUpdateTime = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.lastupdatetime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="LastUpdateAccountId = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when SXBH = #{item.sxbh,jdbcType=VARCHAR} then #{item.lastupdateaccountid,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where SXBH in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.sxbh,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into SC_SX
    (SXBH, YSPH, SCBZ, SCRQ, SBBH, GH, FXZL, SBZK, SXZL, SXSD, SFQX, SFDQ, ZDR, ZDRQ, 
      SHR, SHRQ, gqcd, yl, lsrate, MPSH, ZLH, ISrise, ischange, sxts, color, PJ, XJ, 
      SHRQH, LastUpdateTime, LastUpdateAccountId)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.sxbh,jdbcType=VARCHAR}, #{item.ysph,jdbcType=VARCHAR}, #{item.scbz,jdbcType=VARCHAR}, 
        #{item.scrq,jdbcType=TIMESTAMP}, #{item.sbbh,jdbcType=VARCHAR}, #{item.gh,jdbcType=VARCHAR}, 
        #{item.fxzl,jdbcType=OTHER}, #{item.sbzk,jdbcType=VARCHAR}, #{item.sxzl,jdbcType=OTHER}, 
        #{item.sxsd,jdbcType=OTHER}, #{item.sfqx,jdbcType=VARCHAR}, #{item.sfdq,jdbcType=VARCHAR}, 
        #{item.zdr,jdbcType=VARCHAR}, #{item.zdrq,jdbcType=TIMESTAMP}, #{item.checker,jdbcType=VARCHAR},
        #{item.shrq,jdbcType=TIMESTAMP}, #{item.gqcd,jdbcType=FLOAT}, #{item.yl,jdbcType=CHAR}, 
        #{item.lsrate,jdbcType=CHAR}, #{item.mpsh,jdbcType=VARCHAR}, #{item.zlh,jdbcType=VARCHAR}, 
        #{item.isrise,jdbcType=INTEGER}, #{item.ischange,jdbcType=INTEGER}, #{item.sxts,jdbcType=INTEGER}, 
        #{item.color,jdbcType=VARCHAR}, #{item.pj,jdbcType=VARCHAR}, #{item.xj,jdbcType=VARCHAR}, 
        #{item.shrqh,jdbcType=TIMESTAMP}, #{item.lastupdatetime,jdbcType=TIMESTAMP}, #{item.lastupdateaccountid,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>

  <select id="findByMainDiskCode" resultMap="BaseResultMap">
    select * from SC_SX sc where sc.YSPH = #{mainDiskCode,jdbcType=VARCHAR}
  </select>

</mapper>